<div class ="container-sm" *ngFor="let menuCard of menuCards">
    <section class="menu-section">
        <div class="menu-section__header">
            <h2 class="menu-header" role="heading" aria-level="2">{{menuCard.header}}</h2>
        </div>
        <ul>
            <li class="menu-item" *ngFor="let menu of menuCard.menus">
                <p class="menu-item__heading" role="heading" aria-level="3">{{menu.title}}</p>
                <p class="menu-item__details">{{menu.priceComment}}</p>                
            </li>
        </ul>
    </section>
</div>
