body {
    font-weight: 400;
    letter-spacing: 0px;
    background-repeat: repeat;
    background-position: top left;
    font-family: "Univers LT Pro 47 Lt Cn";
    font-size: 1rem;
    line-height: 1.5;
    color: #3e3c3c;
    background-color: #fff;
}
*, *::before, *::after {
    box-sizing: inherit;
}
div {
    display: block;
}
.container-sm{
    padding-left: 1.85rem;
    padding-right: 1.85rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    box-sizing: inherit;
}

.menu-section{
    padding: 2rem;
    text-align: left;
    margin-bottom: 2.5rem;
    background-color: #f9f7f1;
    padding: 2rem;
}

.menu-section__header{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.menu-item{
    margin-bottom: 1.5rem;
    box-sizing: inherit;
}

.menu-item__heading{
    font-family: "Univers LT Pro 47 Lt Cn";
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 0;
}

p {
    margin-top: 0rem;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
    font-size: 1rem;
}

li {
    text-align: -webkit-match-parent;
}

h2 {
    font-family: "Univers LT Pro 47 Lt Cn Bold";
    color: #712d3d;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0rem;
    font-size: 3rem;
}
.menu-section h2 {
    margin-bottom: 0;
    border-bottom: 2px solid;
}
.menu-section>ul {
    padding-left: 0;
    list-style: none;
}

.container-sm::after {
    content: "";
    display: table;
    clear: both;
}
.tabs-nav {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.tabs-nav {
    padding-left: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: 1010px;
    margin-bottom: 2rem;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.content .btn {
    margin: 0.5rem 0.25rem !important;
    max-width: none;
}
.btn {
    border-radius: 0;
    padding: 0.75rem 1.5rem 0.5rem 1.5rem;
}
.btn {
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    font-size: .9rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-width: 2px;
}
.btn {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2px;
}
a {
    touch-action: manipulation;
    box-sizing: inherit;
    font-weight: bold;
}
.tabs-nav::after {
    content: "";
    display: table;
    clear: both;
}
.tabs-nav>li {
    display: inline-block;
}
.btn-tabs:hover, .btn-tabs:active, .btn-tabs.active, .open>.btn-tabs.dropdown-toggle, .btn-tabs:active:hover, .btn-tabs:active:focus, .btn-tabs:active.focus, .btn-tabs.active:hover, .btn-tabs.active:focus, .btn-tabs.active.focus, .open>.btn-tabs.dropdown-toggle:hover, .open>.btn-tabs.dropdown-toggle:focus, .open>.btn-tabs.dropdown-toggle.focus {
    color: #fff;
    background-color: #712d3d;
    border-color: #712d3d;
    border-radius: 50%;
}
