.container-sm{
    padding-left: 1.85rem;
    padding-right: 1.85rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

.menu-section{
    padding: 2rem;
    text-align: left;
    margin-bottom: 2.5rem;
    background-color: #f9f7f1;
    padding: 2rem;
}

.menu-item{
    margin-bottom: 1.5rem;
}

.menu-item__heading{
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 0;
}

.menu-item__details {
    font-weight: 100;
    font-size: 1rem;
}

.menu-header {
    color: #712d3d;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 0;
    border-bottom: 2px solid;
}

.menu-section>ul {
    padding-left: 0;
    list-style: none;
}
