.container-sm{
    padding-left: 1.85rem;
    padding-right: 1.85rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;

    .menu-section{
        text-align: left;
        margin-bottom: 2.5rem;
        background-color: #f9f7f1;
        padding: 2rem;

        ul {
            padding-left: 0;
            list-style: none;
        }

        .menu-header {
            font-weight: bold;
            font-size: 3rem;
            margin-bottom: 0;
            border-bottom: 2px solid;
        }

        .menu-item{
            margin-bottom: 1.5rem;
            justify-content: space-between;
        
            .menu-item__heading{
                font-size: 1.25rem;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.5;
                margin-bottom: 0;
            }
            
            .menu-item__details {
                font-weight: 100;
                font-size: 1rem;
            }

            .add-menu-item-btn{
                margin-top: 1rem;
                font-size: large;
            }
        }
    }
}