


$color-white: #fff;
$color-brown: #c7a67f;
$color-red:   #712d3d;
$color-black: #000;

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner{
    background-color: $color-red;
}

.transition-on{
    transition: transform 0.6s ease-in-out !important;
}

.info-block{
    z-index: 1;
    height: 90px;
    position: absolute;
    width: 45%;
    pointer-events: none;
    background-color: #712D3D !important;
    max-width: 100%;
    padding-top: 1.5rem;
    top: auto;
    bottom: -2rem;
    transform: none;
    padding-bottom: 0rem;
    left: 0rem;
    right: auto;
    box-shadow:  0 0 10px #000000;
}

.carousel{
    margin-bottom: 2rem;
}

.title{
    padding-left: 2rem;
}