/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* importing font family Oswald. */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

$color-white: #fff;
$color-brown: #c7a67f;
$color-red:   #712d3d;
$color-black: #000;

body{
    font-family: Oswald
}

.nav-link{
    font-family: Oswald;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-white !important;
}

.nav-link:hover{
    color: $color-brown !important;
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
}