<ul class="tabs-nav" role="tablist">
					
    <li role="presentation" *ngFor="let menuPosition of menuPositions">
        <a  routerLink="{{menuPosition.subject}}" id="tab-dinner-copy-1" class="btn btn-tabs active"  role="tab" 
        aria-controls="dinner-copy-1" aria-selected="true" data-order="1" tabindex="0">
            {{menuPosition.subject}}
        </a>
    </li>

    <!-- <li role="presentation">
        <a id="tab-dinner-ny" class="btn btn-tabs" href="#dinner-ny" role="tab" aria-controls="dinner-ny" aria-selected="false" data-order="2" tabindex="-1">Dinner</a>
    </li>

    <li role="presentation">
        <a id="tab-dessert-1" class="btn btn-tabs" href="#dessert-1" role="tab" aria-controls="dessert-1" aria-selected="false" data-order="3" tabindex="-1">Dessert</a>
    </li>

    <li role="presentation">
        <a id="tab-bar-the-patio-happy-hour" class="btn btn-tabs" href="#bar-the-patio-happy-hour" role="tab" aria-controls="bar-the-patio-happy-hour" aria-selected="false" data-order="4" tabindex="-1">BAR, THE PATIO + HAPPY HOUR</a>
    </li>

    <li role="presentation">
        <a id="tab-restaurant-week-menu" class="btn btn-tabs" href="#restaurant-week-menu" role="tab" aria-controls="restaurant-week-menu" aria-selected="false" data-order="5" tabindex="-1">Winter Restaurant Week</a>
    </li>

    <li role="presentation">
        <a id="tab-chefs-signature-dinner-for-two" class="btn btn-tabs" href="#chefs-signature-dinner-for-two" role="tab" aria-controls="chefs-signature-dinner-for-two" aria-selected="false" data-order="6" tabindex="-1">CHEF'S SIGNATURE DINNER FOR TWO</a>
    </li>

    <li role="presentation">
        <a id="tab-valentines-day-3" class="btn btn-tabs" href="#valentines-day-3" role="tab" aria-controls="valentines-day-3" aria-selected="false" data-order="7" tabindex="-1">Valentine's Day</a>
    </li> -->

</ul>

<router-outlet></router-outlet>