.tabs-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 1010px;
    margin-bottom: 2rem;
    text-align: center;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 1rem 2rem;
    margin-bottom: .5rem;
    margin-right: .2rem;
}
.tabs-nav>li {
    display: inline-block;
}
.btn-tabs:hover, .btn-tabs:active, .btn-tabs.active, .open>.btn-tabs.dropdown-toggle, .btn-tabs:active:hover, .btn-tabs:active:focus, .btn-tabs:active.focus, .btn-tabs.active:hover, .btn-tabs.active:focus, .btn-tabs.active.focus, .open>.btn-tabs.dropdown-toggle:hover, .open>.btn-tabs.dropdown-toggle:focus, .open>.btn-tabs.dropdown-toggle.focus {
    color: #fff;
    background-color: #712d3d;
    border-color: #712d3d;
    border-radius: 50%;
}
