.footer{
    margin-top: 70px
}

.footer-top-part{
    width: 100%;
    padding: 16px 30px;
    background-color: #712d3d;
}
.footer-lower-part{
    width: 100%;
    height: 52px;
    background-color:#000;
}

img{
    width: 26px;
    height: 26px; 
    margin-right: 3px;
}

ul{
    display: flex;
    list-style: none;
}
