
<div class="footer-top-part">
    <ul class="social-accounts">
        <li>
            <a href="#" >
            <span class="fa fa-facebook" aria-hidden="true">
            </span><span class="sr-only">Facebook</span>
            </a>
        </li>
        <li>
            <a href="#" >
            <span class="fa fa-instagram" aria-hidden="true">
            </span><span class="sr-only">Instagram</span>
            </a>
        </li>
    </ul>
</div>
<div class="footer-lower-part"> 

</div>
