<div class="container">
    <div class="row">
      <div class="col">
        <h2>CONTACT US</h2>
        <p>
            <strong>General Inquiries</strong>
        </p>
        <p>
            One Bryant Park<br>
            135 West 42nd Street,<br>
            New York, NY 10036<br>
            212.319.1660<br>
            info@charliepalmer.com
        </p>
        <p>
            <strong>Event Inquiries</strong><br><br>
            Thomas Young<br>
            212.466.0752<br>
            tyoung@charliepalmer.com
        </p>
      </div>
      <div class="col">
        <img class="dish-contacts-icon img-fluid" src="../../../assets/images/contacts-page-image.avif" title="Dish"  alt="Dish">
      </div>
      
    </div>
    <hr>
    <div class="row  justify-content-center">
        <div class="col">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.2937380848757!2d-73.98750998428667!3d40.75556374288559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258552d8350d9%3A0xb2fbb6adf9bbd7b8!2s135%20W%2042nd%20St%2C%20New%20York%2C%20NY%2010036!5e0!3m2!1sen!2sus!4v1647812938496!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
  </div>