$color-black: #000;


.logo{
    max-width: 220px;
    max-height: 62px;
}

#navbarNav{
    flex-grow: 0;
}

.container-fluid{
    padding: 1rem 1.75rem;
}

.navbar{
    background-color: $color-black;
}

.navbar-transparent{
    background-color: rgba(255,255,255,0) !important;
}