<div class="popup-wraper" [ngClass]="[ cartActive ? 'visible' : '']">
  <div class="popup-continer shadow-lg">
    <div class="popup-content d-flex flex-column">
      <div class="d-flex justify-content-between"> 
        <p>cart</p>
        <a class="popup-close-btn" (click)="closeCart()"> x </a>
      </div>
      <div class="cart-items">
          <div class="cartItemContainer container-sm d-flex justify-content-between" *ngFor="let cartItem of cart">
            <div>
              <div>{{cartItem.item.title}}</div>
              <p>{{cartItem.item.price}}$ X {{cartItem.count}} = {{cartItem.item.price*cartItem.count}}</p>
            </div>
            <div class="itemCounter d-flex">
              <div (click)="removeItemFromCart(cartItem.item.title, cartItem.count)" class="reduseBtn"> - </div>
              <div class="itemsCount"> {{cartItem.count}} </div>
              <div (click)="addItemToCart(cartItem.item.title, cartItem.count)" class="addBtn"> + </div>
            </div>
          </div>
      </div>
      
      <div class="cart-price d-flex justify-content-between">
        <p>Total price: {{totalPrice| number: '2.1-1'}}</p>
        <button class="btn btn-sm cart-buy-btn" routerLink='order' (click)="closeCart()">Buy</button>
      </div>
    </div>
  </div>
</div>

<nav id="navbar"  class="navbar navbar-expand-lg  fixed-top {{navbarPosition}}" [ngClass]="[ scrollTop ? '' : 'navbar-transparent']">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand" href="#">
            <a routerLink='home'>
                <!---->
                <img class="logo" src="../../../assets/images/logo.png" title="Charlie Palmer steak logo"  alt="Charlie Palmer steak logo">
                <!---->
            </a>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="nav-toggle-btn__line"></span>
        <span class="nav-toggle-btn__line"></span>
        <span class="nav-toggle-btn__line"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu/{{subject}}" (click)="setSubject()">MENU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='contacts'>CONTACTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link position-relative" (click)="openCart()">
              <img class="cart-icon" src="../../../assets/images/cart-icon.png" title="Cart"  alt="Cart">
              <div [ngClass]="[ totalItemsInCart ? '' : 'hidden']" class="totalCartItemsNumber position-absolute bottom-0 end-0">{{totalItemsInCart}}</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
